#inicio{
    display:grid;
    width: 100%;
    height: 150px;
    background: url(../fotos/fondoMedicinas.jpg);
    justify-items:center;
    font-size: 3em;
    font-family: LetrasIndex;
    margin-bottom: 10px;
}
#inicioGif{
    display:grid;
    width: 100%;
    height: 290px;
    /*background: url(../fotos/fondoMedicinas.jpg);*/
    justify-items:center;
    font-size: 3em;
    font-family: arial;
}
#tabla{
    width: 100%;
    background-color:white;
    text-align: center;
    border-collapse: collapse;
    color: gray;

}
.cabecera{
    color: white;
    background-color: #56723C;
    font-family: arial;
    font-size: 1.5em;
}
.casillas{
    font-size: 1.5em;  
}

#contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:390px; 
}
#cajaLog{                       
    background-color: #e5e4e2;
    /*    width: 50%;*/

}
#formLog{
    display: grid;
    justify-items:center;
    align-items:end;
    font-size:2em;

}

#contenedorFormInsertar input{
    height: 50px;
    width:100%;
    margin-top: 30px;  
}
#contenedorFormBorrar input{
    height: 50px;
    width:100%;
    margin-top: 30px;  
}

#formLog input{
    height: 30px;
    width: 40%;
    margin-top: 60px;
    border-radius: 0.5px;
}

h1{
    text-align: center;
    font-family: arial;
    font-size: 2em;
}

#botonLog,.botonSalir,.botonAtras{
    /*    width: 10%;*/
    font-family:LetrasIndex;
    background-color:  #1a7bac ;
    color: aliceblue;
    height: 50px;


}
.botonGuardar,.botonDestroy{
    width:35%;
    margin-left:32.12%;

}


.botonSalir{
    color: red;
}
.botonAtras {
    color: green;
}

#botonLog,.botonSalir,.botonAtras,.botonEnviar,.botonGuardar,.botonDestroy{
    /*    height: 50px;*/
    border-radius: 5px;
    margin-top: 30px;
    font-size: 1em;
}
.botonSalir,.botonAtras,.botonGuardar,.botonDestroy{
    font-size: 1.5em;

}

#formSelec{
    display: grid;
    grid-auto-columns: 2fr;
    justify-items:center;
}
.botonSelecClau,.botonSelecNoa,.botonMostrar,.botonInsertar,.botonBorrar {
 
}


.botonSelecNoa{
    background: url(../fotos/noa.jpg);      
}
.botonSelecClau{
    background: url(../fotos/clau.jpg);      
}
.botonInsertar{
    background: url(../fotos/insertar.jpg);

}
.botonMostrar{
    background: url(../fotos/mostrar.jpg);   
}
.botonBorrar{
    background: url(../fotos/borrar.jpg);   
}


.botonMostrar,.botonInsertar,.botonBorrar { 
    font-family: arial;
    font-size: 4em;    
}

.formularioInsertar{
    width: 50%;
    height:450px;
    border: 1px solid red;
    background-color: blue;
    color :white;
    font-size: 2em;
}

.botonSelecClau,.botonSelecNoa,.botonMostrar,.botonInsertar,.botonBorrar{ 
    background-repeat: no-repeat;
    background-size:100% 100%;   
}

#contenedorFormInsertar,#contenedorFormBorrar{
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items:center;
}
#formularioInsertar,#formularioBorrar{
    width: 30%;

}

/*/////////////////////////NUEVOS///////////////////////////*/

@font-face {
    font-family:LetrasIndex;
    src: url(../fuentes/DarkerGrotesque-Light.ttf);

}
@font-face {
    font-family:cabecera;
    src: url(../fuentes/Caveat-Regular.ttf);

}
a,.form-group p{
    font-family:LetrasIndex;
    color:black;
    font-size: 1.5em;
}
.form-group p{
    color: black;
}
legend{
    font-family:LetrasIndex;  
}
a:hover{
    text-decoration: none; 
}

.col-centrada{
    float: none;
    margin: 0 auto;
/*    width: 100%;*/
}
#primera{
    font-family:cabecera;
    font-size:1.5em;
}
#segunda{
    font-family:LetrasIndex;
    font-size:30px;
    position: relative;
    bottom: 40px;

}
#bienvenida{
    font-family: LetrasIndex;
}

@media (max-width: 600px) {
    #izq,#drc {
        display: none;
    }
}
.botonInsertar,.botonMostrar{    
    width: 200px;
    height: 200px;
    border: 0;
    -webkit-transition-duration: 0.4s;

}
.botonInsertar:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 25px;

}
.botonMostrar:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 25px;

}
#fotoInsertar{
    background: url(../fotos/insertar.png);
}
#fotoMostrar{
    background: url(../fotos/mostrar.png);
}
#fotoNotiene{
    background: url(../fotos/nohijos.png);

}
.centrar{
    text-align:center;
}
.atencion,.correcto,.correcto_index{

    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-family: LetrasIndex;
    font-size: 1.25em;
    color:white;
    margin-bottom: 10px;

}
.atencion{
    background-color:#ff5c5c;  
}
.correcto,.correcto_index{
    background-color: #87d177 ;
}
.correcto_index{
    margin-top: 10px;
}

.botonesH{
    background-color: #55769a; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: LetrasIndex;
    font-size: 2em;
    border-radius: 5px;
    width: 250px;
    text-align: center;
 
}

.botonesH:active{
    background-color:#808e9d;
}

.datosEncabezado,.datosInfo{
  
    font-family: LetrasIndex;
    font-size: 1.5em;
    text-align: center;
    border-bottom:1px solid gray;
  
}

.datosInfo{
    color:darkgreen;
}

.margin{
   margin-top: 10px;
    text-align: center;
}






